.App {
  text-align: center;
}

#btn{
  margin: auto;
  margin-top: 50px;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 2%;  
}
#btn1{
  background-color: rgb(0, 132, 255);
  border: 2px solid rgb(0, 132, 255) ;
  color: white;

}
#btn3{
  border: 1px solid grey;
 border: dotted;
 background-color: white;
  /* outline: 0; */
}
#btn4{
 background-color: white;
  border: 0px;
}
#btn5{
  background-color: white;
   border: 0px;
   color: rgb(0, 132, 255);
 }